@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #fefefe;
}

body {
  margin: 0;
  transition: ease-in;
  background: black;
  scroll-behavior: smooth;
  color: white;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* navbar section */
header {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  border: 1px solid rgba(11, 1, 1, 0.37);
  border-radius: 10px;
  position: sticky;
  top: 0;
}

nav {
 
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
}

nav h1 {
  font-weight: 900;
  font-size: 2rem;
  color: #0a9428;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 3rem;
}

.nav-links li a {
  text-decoration: none;
  color: #fcfffd;
}

.auth-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

.auth-links li a {
  text-decoration: none;
}

/* button styles */
button {
  padding: 10px 20px;
  border: 2px solid #014224;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition: box-shadow 0.3s ease;
  background-color: black;
}

button:hover {
  background-color: #024718;
  transition: background-color 0.3s ease;
}

/* Left Green Blob-Radial Background */
.green_blob {
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: radial-gradient(
      circle at 0% 50%,
      rgba(0, 255, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.9) 40%
    ),
    #070606;
  width: 40rem;
  height: 40rem;
  background-size: 100% 100%, cover;
  background-position: left center, center;
  background-repeat: no-repeat;
}

/* Right Green Blob-Radial Background */
.green_blob2 {
  z-index: -1;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: radial-gradient(
      circle at 100% 50%,
      rgba(0, 255, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.9) 40%
    ),
    #070606;
  width: 40rem;
  height: 40rem;
  background-size: 100% 100%, cover;
  background-position: right center, center;
  background-repeat: no-repeat;
}

/* hero section  */
.hero_section {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7rem 0;
  border-bottom: 1px solid rgba(21, 55, 4, 0.4);
}


/* Shubham Text */
.header_green_text {  
  color: #06b563;
}

.hero-text p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.explore-btn {
  padding: 10px 20px;
  border: 2px solid #014224;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition: box-shadow 0.3s ease;
}

.explore-btn:hover {
  background-color: #014224;
  transition: background-color 0.3s ease;
}

.hero-image img {
  width: 600px;
  border-radius: 12px;
}

/* About Us Section */

.aboutus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 7rem 0;
  border-bottom: 1px solid rgba(21, 55, 4, 0.4);
}

.aboutus-text {
  font-size: 20px;
  line-height: 2;
  margin: 20px 60px;
  align-items: center;
}

/*Features Section*/
.features {
  padding: 7rem 0;
  text-align: center;
  border-bottom: 1px solid rgba(21, 55, 4, 0.4);
}

.features-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  gap: 20px;
}

.features-content ul {
  text-align: left;
  list-style: none;
}

.features-content p {
  font-size: 20px;
}

.feature-list {
  padding: 5px 0;
  gap: 15px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.divider {
  border-radius: 20px;
  width: 5px;
  height: 25px;
  background: white;
}

.image_border {
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
  width: auto;
}

.features-content img {
  object-fit: cover;
  border: 1px solid gray;
  border-radius: 5px;
}

/* Download Section */
.download {
  text-align: center;
  padding: 7rem 0;
  color: white;
  border-bottom: 1px solid rgba(21, 55, 4, 0.4);
}

.download h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.download-p {
  font-size: 1.1rem;
  color: #ccc;
  margin-bottom: 50px;
}

.download-section {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.download-card {
  background: linear-gradient(145deg, #4242425e, #1c1c1c3c);
  border-radius: 20px;
  padding: 30px;
  width: 400px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(63, 63, 63, 0.37);
}
.card-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.download-card img {
  width: 30px;
  object-fit: contain;
  
}

.download-card hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 10px 0 20px;
}
.card-content {
  align-items: center;
  border-radius: 20px;
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  height: auto;
  width: auto;
}
.card-content-p {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 10px;
}
 /* Option Card Section */
.download-card-opt {
  background: linear-gradient(145deg, #4242425e, #1c1c1c3c);
  border-radius: 20px;
  padding: 30px;
  width: 600px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(63, 63, 63, 0.37);
}
.card-logo-opt {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.download-card-opt img {
  width: 30px;
  object-fit: contain;
}

.download-card-opt hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 10px 0 20px;
}

.download-section-button {
  padding: 15px 20px;
  border: 1px solid rgba(63, 63, 63, 0.37);
  border-radius: 18px;
  text-decoration: none;
  color: white;
  transition: box-shadow 0.3s ease;
  background: linear-gradient(145deg, #4242425e, #1c1c1c3c);;
}

.download-section-button:hover {
  background-color: linear-gradient(145deg, #5656565e, #3f3f3f3c);
  transition: background-color 0.3s ease;
}


/* dropdown Section */
.dropdown {
  cursor: pointer;
  z-index: 1;
}
.dropdown-button{
  display: flex;   
  align-items: center;
  gap: 12px; 
  padding-left: 5rem;
}

.dropdown-select {
  background: linear-gradient(145deg, #4242425e, #1c1c1c3c);;
  color: white;
  padding: 12px 20px;
  border-radius: 20px;
  border: 1px solid #262626;
  position: relative;
  z-index: inherit;
  width: 200px;
  text-align: center;
}

.dropdown-options {
  display: none;
  position: absolute;
  background-color: #1a1a1a;
  min-width: 200px;
  border: 1px solid #444;
  border-radius: 12px;
  margin-top: 8px;
  z-index: 1;
}

.dropdown-options div {
  padding: 12px 16px;
  cursor: pointer;
  color: white;
}

.dropdown.open .dropdown-options {
  display: block;
}



/* contact Us Section */
.contact_us{
  align-items: center;
  margin: 5rem 0;
}
.contact-us-content {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 3rem;
}
.contact-email{
  text-decoration: none; 
  color: #06b563;
  font-weight: 600;
  font-size: 50px;
  
}


/* Footer Section */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 80px;
  background-color: #0e1612;
  color: #ccc;
  font-family: "Poppins", sans-serif;
  
}

.footer-left h1 {
  color: #55b535;
  font-size: 48px;
  margin: 0;
}

.footer-left p {
  margin-top: 20px;
  color: #bbb;
  font-weight: 300;
  font-size: 16px;
}

.footer-links {
  display: flex;
  gap: 80px;
  align-items: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100%;
}

.column h2 {
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}

.column a {
  color: #aaa;
  text-decoration: none;
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 15px;
}

.column a:hover {
  color: #55b535;
}

.reserved {
  padding-left: 600px;
  padding-top: 5px;
  padding-bottom: 5px;
}
